# Supabase Configuration
VITE_SUPABASE_URL=https://ftjnqctwfkijhvxuhrgl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0am5xY3R3Zmtpamh2eHVocmdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3OTI1NzQsImV4cCI6MjA4NTM2ODU3NH0._lMzegSotOZoPxyIpvevUB1aoAE6b3yc56W2EORVkO4
